body {
    font-family: Arial, sans-serif;
    background-color: #f099f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color: #69656a;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
  }
  
  .display {
    background-color: #3c414d;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  .btn {
    background-color: #444955;
    color: #ebf528;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
  }
  .equal-btn {
    grid-column: span 2; 
    background-color: #444955;
    color: #ffffff; 
  }
  
  .equal-btn:hover {
    background-color: #444955; 
  }
  
  .btn:hover {
    background-color: #565b67;
  }
  
  .operator {
    color: #1239e9;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  